footer{
    background-color: rgb(237,126,92);
    color: white;
    text-align: center;

    padding: 1rem;
  }

  Nav{
    padding: 6px;
  }

  h2{
    color: rgb(237,126,92);
  }

  strong{
    color: rgb(237,126,92);
  }

  .link{
    color: black;
  }

  .link:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  #cite{
    color: lightgray;
    font-size: small;
  }

  .border1{
    border: 1px solid rgb(237,126,92);
    border-radius: 10px;
    padding: 8px;
  }

  .border{
    border: 1px solid rgb(237,126,92);
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    background-color: rgba(241, 189, 173, 0.534);
    color:black;

  }

  .noborder{
    margin: 0px;
    padding: 0;
    border-collapse: separate;
    border:none;
    table-layout: auto;
  }

  .tableColor{
    background-color: rgb(237,126,92);
    color: white;
  }

  .nav_links{
    color:rgb(237,126,92);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;   
  }

 .nav_links:hover{
    color:rgb(237,126,92);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;  
  }

  Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ajhickma 
tristen
/
tablesort
Public
38
1k176
Code
Issues
43
Pull requests
9
Actions
Projects
Wiki
Security
Insights
tablesort/tablesort.css
@davidjb
davidjb Add -ms prefixed styling
…
Latest commit 8fac56d on Jan 3, 2017
 History
 2 contributors
@xPaw@davidjb
33 lines (29 sloc)  628 Bytes
  
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

