<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>As the Page Turns</title>
    
    <!-- Compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class ="container">

    <header class ="row">
      <H1><a href="https://clipground.com/images/book-clip-art-13.jpg"><img src= "img/book.png" alt= "Orange Book" height="65px"></a> As the Page Turns</H1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="book.html">My Books</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="recommendation.html">Book Recommendations</a>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
    <main>
      <h2>My Books</h2>
     <!----> 





      <!----> 
    <div class="col col-12">
      <div id="random">
      <table id="taskTable" class="table table-bordered table-striped table-hover table-condensed text-center"> 
        <thead class= "tableColor">
          <tr> 
            <th class= "text-center">Title</th> 
            <th class= "text-center">Author</th>	
            <th class= "text-center">Published</th>
            <th class= "text-center">Publisher</th>
            <th class= "text-center">Page Count</th>
            <th class= "text-center">MSRP</th>
            <th class= "text-center"> Status</th>
          </tr>
        </thead> 
        <tbody>
          <tr v-for="book in books">
            <td>{{book.title}}</td>	
            <td>{{book.author}}</td>	
            <td>{{book.published}}</td>
            <td>{{book.publisher}}</td>	
            <td>{{book.pCount}}</td>	
            <td>{{prettyDollar (book.msrp) }}</td>
            <td><button class="btn btn-outline-secondary buttonSide" type="submit"
              v-on:click="selectBook(book)">Edit</button>
              <button class="btn btn-outline-secondary" type="button" 
              v-on:click="postDeleteBook(book)">Delete</button></td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      

      <form v-on:submit.prevent="postBook">
        <div class="mb-3">
          <label for="bookTitle">Title</label>
          <input type="text" v-model="bookForm.title" class="form-control" id="bookTitle">
        </div>
        <div class="mb-3">
          <label for="bookAuthor">Author</label>
          <input type="text" v-model="bookForm.author" class="form-control" id="bookAuthor">
        </div>
        <div class="mb-3">
          <label for="bookPublished">Year Published</label>
          <input type="number" min="1900" max="2099" step="1" v-model="bookForm.published" class="form-control" id="bookPublished">
        </div>
        <div class="mb-3">
          <label for="bookPublisher">Publisher</label>
          <input type="text" v-model="bookForm.publisher" class="form-control" id="bookPublisher">
        </div>
        <div class="mb-3">
          <label for="bookPageCount">Page Count</label>
          <input type="text" v-model="bookForm.pCount" class="form-control" id="bookPageCount">
        </div>
        <div class="mb-3">
          <label for="bookMSRP">MSRP</label>
          <input type="text" v-model="bookForm.msrp" class="form-control" id="bookMSRP">
        </div>
        <button type="submit" class="btn btn-secondary buttonAll">Submit</button>
      </br>
      </form>
      <div class="noBooks" v-if="! books.length">
        <h3>No Books</h3>
      </div>
      </div>
    </div>





      <!-- <table class="table noborder"> 

        <tbody>
          <tr>
            <td>Title:</td>	
            <td><input type= "text" name="title" id="title" ></td>	

          </tr>
          <tr>
            <td>Author:</td>	
            <td><input type= "text" name = "author" id="author"></td>	

          </tr>
          <tr>
            <td>Publised:</td>	
            <td><input type= "text" name="year" id="year"></td>	
          </tr>
          <tr>
            <td>Publisher:</td>	
            <td><input type= "text" name="publisher" id="publisher"></td>	
          </tr>
          <tr>
            <td>Page Count:</td>	
            <td><input type= "text" name="pageCount" id="pageCount"></td>		
          </tr>
          <tr>
            <td>MSRP:</td>	
            <td><input type= "text" name = "MSRP" id="MSRP"></td>		
          </tr>
          <tr>
            <td>Read it?</td>	
            <td><input type= "radio" name ="read_it" id="yes_read"> Yes <input type="radio" name= "read_it" id="no_read"> No</td>		
          </tr>
        </tbody>

      </table> -->

       
    </main>

    <footer class = "footer">
      <p>As the Page Turns  |  Mom's Phone: 800-555-1234  |  Mom's Basement</p>
    </footer>
    <script src="js/index.js"></script>
    <script src='js/tablesort.min.js'></script>
    <script>
      new Tablesort(document.getElementById('taskTable'));
    </script>
    
    <!--source: https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css -->
  </body>
</html>
<!-- Title: <input type= "text" name="firstName" id="firstName" ><br>
Author Name: <input type= "text" name = "lastName" id="lastName"><br>
Publised Name: <input type= "text" name="firstName" id="firstName" ><br>
Publisher: <input type= "text" name = "lastName" id="lastName"><br>
Page Count: <input type= "text" name="firstName" id="firstName" ><br>
MSRP: <input type= "text" name = "lastName" id="lastName"><br>
Read it? <input type= "radio" name ="read_it" id="yes_read"> Yes <input type="radio" name= "read_it" id="no_read"> No -->

